---
import { Image } from "astro:assets";
import some01 from "../Assets/some01.png";
import some02 from "../Assets/some02.png";
import insta from "../Assets/insta.png"
import face from "../Assets/fb.png"
import tiktok from "../Assets/TikTok.png"
import youtube from "../Assets/YouTube.png"
---
<div id="grid_1-1-1">
    <div id="mobileImg">
        <Image src={some01} alt="some" />
    </div>
    <div class="sectionImg">
    <Image src={some01} alt="some" />
</div>
<div class="sectionText">
<h1>FØLGE MED PÅ VORES SOCIALE MEDIER</h1>
<p>Vær en del af den grønne bevægelse og følg med på vores sociale medier! </p>
    <p>Vær med til at dele det gode budskab om en grønnere og bedre fremtid med mindre engangsplastik.</p>
    <div id="grid_1-1-1-1">
<div id="someSymbol">
    <a href="https://www.instagram.com/plasticchange/"><Image src={insta} alt="insta" /></a>
  
</div>
<div id="someSymbol">
    <a href="https://www.facebook.com/plasticchange/"><Image src={face} alt="fb" /></a>
</div>
<div id="someSymbol">
    <a href="#"><Image src={tiktok} alt="tiktok" /></a>
</div>
<div id="someSymbol">
    <a href="https://www.youtube.com/@plasticchange5159"> <Image src={youtube} alt="youtube" /></a>
</div>

    </div>
</div>
<div class="sectionImg">
        <Image src={some02} alt="some" />
</div>
</div>



<style>
#mobileImg {
    display: none;
}

#grid_1-1-1 {
    padding-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--bg);
    color: white;
    justify-items: center;
    padding-bottom: 5%;
}

#grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20%;
    justify-items: center;
}

.sectionImg {
    margin-top: 5%;
}

#someSymbol img {
    max-width: 100%;
    max-height: 100%;
}

p {
    margin-top: 4%;
    margin-bottom: 4%;
}

@media only screen and (max-width: 600px) {
    #grid_1-1-1 {
        display: block;
        margin-top: 0%;
    }

    #grid_1-1-1-1 {
    display: none;
    margin-top: 0%;
}

.sectionImg, #someSymbol {
    display: none;
}

#mobileImg {
    display: block; 
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

#mobileImg img {
   width: 93px;
   height: 93px; 
  
}

.sectionText {
    margin-left: 5%;
}

.sectionText h1{
   font-size: 18px;
}

.sectionText p{
   font-size: 14px;
}

}

</style>